@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
  font-family: 'Droid Serif', Arial, sans-serif;
  color: #34495C; }

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono', monospace; }

.remark-slide-content h1 {
  font-size: 45px; }

.remark-slide-content h2 {
  font-size: 34px; }

.remark-slide-content h3 {
  font-size: 25px; }

.remark-slide-content p, .remark-slide-content li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1px; }

.remark-slide-content h1, .remark-slide-content h2 {
  color: #3B8070; }

.remark-slide-content h3, .remark-slide-content h4, .remark-slide-content h5 {
  color: #41B883; }

.remark-slide-content a {
  color: #34495C;
  text-decoration: none !important;
  font-weight: bold; }

.remark-slide-content a, .remark-slide-content strong {
  color: #e09d00; }

.img-large > img {
  margin: 10px 0;
  max-width: 430px;
  max-height: 50vh; }

.img-hero > img {
  max-width: 650px; }

.authors {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 21px;
  letter-spacing: 1.2px; }

.footer {
  width: 80px;
  height: 17px;
  background-image: url("./gilt.svg");
  background-size: cover;
  background-position: center;
  position: absolute; }

.footer, .remark-slide-number {
  color: #34495C;
  bottom: 20px;
  filter: drop-shadow(0 0 23px #e09d00); }

.quote {
  color: #3B8070;
  margin-left: 60px;
  display: flex;
  align-items: center;
  font-size: 22px; }
  .quote:before {
    content: "“";
    font-size: 60px;
    margin-right: 5px; }
